version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: dvf_db
      POSTGRES_USER: dvf_root
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    expose:
      - "5000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=dvf_db
      - DB_USER=dvf_root
      - DB_PASSWORD=1234
    depends_on:
      - db

  frontend:
    build: ./frontend/dvf-map
    expose:
      - "80"
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - frontend
      - backend

volumes:
  postgres_data: